@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMDItcGF0dGVybi0wNS1hMi1reHF1azU4ai5qcGc.jpg');
    font-family: "Madimi One", sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #720707;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    text-shadow: 2px 2px #fff;
}

h2 {
    color: #601010;
    border-bottom: 2px dashed #ec8c8c;
    padding-bottom: 5px;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid #bf2525;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

section p {
    text-align: center;
}

ul {
    color: #333;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.favorite-item {
    text-align: center;
}

.favorite-item img {
    border-radius: 10px;
    border: 3px solid #FFB800;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

p {
    color: #333;
    line-height: 1.6;
}

.food img{
    border:3px solid rgb(148, 68, 68)
}

.movie img{
    border:3px solid rgb(154, 119, 119)
}

.animal img{
    border:3px solid rgb(123, 16, 16)
}

.book img{
    border:3px solid rgb(61, 15, 15)
}


.fun-fact-box {

    background-color: rgba(224, 168, 168, 0.8);
    border-radius: 10px;
    border: 6px solid rgb(172, 29, 29);
    text-shadow: 1px 1px #fff;
}

.fun-fact-box h3{

    color: #601010;
   text-decoration: underline;
   text-align: center;
}

.fun-fact-box p{

    color: #000000;
   text-align: center;
   padding-bottom: 25px;
}



.fun-fact-box2 {
 margin: 20px;
    background-color: rgba(252, 252, 252, 0.8);
    border-radius: 10px;
    border: 6px solid rgb(172, 29, 29);
    text-shadow: 1px 1px #fff;
    text-align: center;
}